#main{
  margin-top: 5em;
}

.contour{
  border: black solid 1px;
  border-radius:10px;
  padding-top: 15px;
}

.pad-label{
  padding-top: 7px;
}

.heigth350{
  height: 350px;
}

.heigth370{
  height: 370px;
}

.marTopBot{
  margin-top: 6px;
}
