{%  extends "base.html" %}

{% block main %}

<article class="">
  <header>
      <h2>{{pagetitle}}</h2>
  </header>

  {% for album in l_albums %}
  <section class="col-lg-4">

      <img src="{{ url_for('static', filename='img/'+ album.img_album if album.img_album) }}" alt="Image de l'album {{ album.titre_album }}">
      <h3>{{ album.titre_album }}</h3>
      <h4>Par {{ album.artiste.nom_artiste }}</h4>
      <p>Genres : {% for genre in album.album_genre %} {{ genre.nom_genre }}, {% endfor %}</p>

  </section>
  {% endfor %}

  <!-- <footer>
    <p>
      Maecenas a ante auctor, elementum justo vel, ullamcorper orci. Cras aliquam nec tortor ut placerat. Sed eu vehicula lorem.
    </p>
  </footer> -->
</article>

{% endblock %}
