{%  extends "base.html" %}

{% block main %}

<article class="">
  <header>
      <h2>{{pagetitle}}</h2>
  </header>

  {% for album in l_albums %}
  <section class="col-lg-4 col-md-6 text-center" height="600" >
      <img class="img-thumbnail" width="200" height="200" {% if album.img_album == None %}

            src="../static/img/pas_photo.jpeg"

           {% else %}

            src="{{ url_for('static', filename='img/'+ album.img_album if album.img_album ) }}"

           {%endif%}

            alt="Ne peut pas s'afficher" >

      <h3>{{ album.titre_album }}</h3>
      <h4>Par <a href="{{ url_for('album_list_by_artist', artist_id=album.artiste.id_artiste) }}">{{ album.artiste.nom_artiste }}</a></h4>
      <p>Genres : {% for genre in album.album_genre %} <a href="{{ url_for('album_list_by_genre', genre=genre.nom_genre) }}">{{ genre.nom_genre }}</a>, {% endfor %}</p>

  </section>
  {% endfor %}

  <!-- <footer>
    <p>
      Maecenas a ante auctor, elementum justo vel, ullamcorper orci. Cras aliquam nec tortor ut placerat. Sed eu vehicula lorem.
    </p>
  </footer> -->
</article>

{% endblock %}
