{%  extends "base.html" %}

{% block main %}

<article class="col-md-offset-2 col-md-8">
<div class="col-md-offset-4 col-md-8">
  <header>
      <h2>{{pagetitle}}</h2>
  </header>
    {% if album.img_album != None %}
        {% if album.img_album in thumbnails %}
            <img class="img-thumbnail" width="200" height="200" src="{{ url_for('static', filename='img/'+ album.img_album) }}" alt="{{ album.titre_album }}" >
        {% else %}
            <img class="img-thumbnail" width="200" height="200" src="{{ url_for('static', filename='img/pas_photo.png') }}" alt="Photo de {{ album.titre_album }} non répertoriée" >
        {% endif %}
    {% else %}
        <img class="img-thumbnail" width="200" height="200" src="{{ url_for('static', filename='img/pas_photo.png') }}" alt="Photo de {{ album.titre_album }} non disponible" >
    {%endif%}
    <p>Genres : {% for genre in album.album_genre %} <a href="{{ url_for('album_list_by_genre', genre=genre.nom_genre) }}">{{ genre.nom_genre }}</a>, {% endfor %}</p>
    <p>Interprété par {{ album.artiste.nom_artiste }}</p>
    <p>Sorti en {{ album.annee_album }}</p>

</div>

<div class="col-md-12">
    {% if tracks != None %}
        <h5 >Pistes</h5>
        <ol>
            {% for t in tracks %}
            <li>
                <p class="smalltitle">Titre : {{ t['title'] }}</p>
                <p>Durée : {{ t['duration'] }} s.</p>
                <audio controls class="col-md-12">
                    <source src="{{ t['preview'] }}" type="audio/mpeg">
                    Extrait non supporté par votre navigateur.</source>
                </audio>
            </li>
            {% endfor %}
        </ol>
    {% else %}
        <p>Cet album n'est pas référencé chez notre partenaire. <a href="http://www.deezer.com/fr/" target="_blank">Soyez le premier à leur faire découvrir !</a></p>

    {% endif %}
</div>


</article>

{% endblock %}
