{% extends "base.html" %}

{% block main %}
    <form class="form-horizontal" role="form" method="POST" action="{{ url_for('album_add') }}">

        {{ form.hidden_tag() }}

        <div class="form-group">
            <label for="title" class="col-sm-2 control-label">
                {{ form.title.label }}
            </label>
            <div class="col-sm-10">
                {{ form.title(size=50, class_="form-control",placeholder="Album_Title", required=form.title.flags.required) }}
            </div>
        </div>

        <div class="form-group">
            <label for="releaseyear" class="col-sm-2 control-label">
                {{ form.releaseyear.label }}
            </label>
            <div class="col-sm-10">
                {{ form.releaseyear(size=50, class_="form-control",placeholder="Release Year", required=form.releaseyear.flags.required) }}
            </div>
        </div>

        <div class="form-group">
            <label for="artist" class="col-sm-2 control-label">
                {{ form.artist.label }}
            </label>
            <div class="col-sm-10">
                {{ form.artist(size=1, class_="form-control", list="artist_datalist", required=form.releaseyear.flags.required) }}
                <datalist id="artist_datalist">
                    {% for a in artistes %}
                        <option value="{{ a.nom_artiste }}">
                    {% endfor %}
                </datalist>
            </div>
        </div>

        <div class="form-group">
            <label for="img" class="col-sm-2 control-label">
                {{ form.img.label }}
            </label>
            <div class="col-sm-10">
                {{ form.img(class_="form-control") }}
            </div>
        </div>

        <div class="form-group">
            <label for="genres" class="col-sm-2 control-label">
                {{ form.genres.label }}
            </label>
            <div class="col-sm-10">
                {% for g in form.genres %}
                    <div class="col-sm-3">
                        {{ genres_dispos[g.data].nom_genre }} {{ g }}
                    </div>
                {% endfor %}
            </div>
        </div>

        <div class="form-group">
            <label for="genre_add" class="col-sm-2 control-label">
                {{ form.genre_add.label }}
            </label>
            <div class="col-sm-10">
                {{ form.genre_add(class_="form-control") }}
            </div>
        </div>


        <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">
                {{ form.submit_btn() }}
            </div>
        </div>

    </form>
{% endblock %}
