{%  extends "base.html" %}

{% block main %}

  <header>
      <h2>{{pagetitle}}</h2>

      <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit.
      </p>

  </header>

  <section>

  <div class="table-bordered">
    <table class="table">
      <thead>

      <tr class="success">
        <th>Artiste</th>
        <th>Album</th>
        <th>Genres</th>
      </tr>

      {% for artist in l_artists %}
        <tr class="info">
          <th> <a href="{{ url_for('album_list_by_artist', artist_id=artist.id_artiste) }}">{{ artist.nom_artiste }}</a></th>
          <th></th>
          <th></th>
        </tr>


        </thead>

        {% for album in artist.albums %}
        <tbody>
            <tr class="active">
              <td></td>
              <td><a href="{{ url_for('album_view', id=album.id_album) }}">{{ album.titre_album }}</a></td>
              <td>{% for genre in album.album_genre %}<a href="{{ url_for('album_list_by_genre', genre=genre.nom_genre) }}">{{ genre.nom_genre }} ,</a> {% endfor %}</td>
            </tr>
        </tbody>
        {% endfor %}

      {% endfor %}
    </table>
</div>
  </section>

{% endblock %}
