{% extends "bootstrap/base.html" %}

{% block title %}{{title}}{% endblock %}

{% block styles %}
{{ super()}}
<link rel="stylesheet"
  href="{{ url_for('static', filename='base.css') }}"/>
{% endblock %}

{% block navbar %}
    <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">FL45K-MU51C</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
          <ul class="nav navbar-nav">
            <li class="active"><a href="/">Accueil</a></li>
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Albums <span class="caret"></span></a>
              <ul class="dropdown-menu">
                <li><a href="{{ url_for('album_list')}}">Rechercher</a></li>
                <li role="separator" class="divider"></li>
                <li class="dropdown-header">Actions utilisateurs</li>
                <li><a href="{{ url_for('album_add')}}">Ajouter</a></li>
                <li><a href="#">Modifier</a></li>
                <li><a href="#">Supprimer</a></li>
              </ul>
            </li>
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Artistes <span class="caret"></span></a>
              <ul class="dropdown-menu">
                <li><a href="{{ url_for('artist_list') }}">Rechercher</a></li>
                <li role="separator" class="divider"></li>
                <li class="dropdown-header">Actions utilisateurs</li>
                <li><a href="#">Ajouter</a></li>
                <li><a href="#">Modifier</a></li>
                <li><a href="#">Supprimer</a></li>
              </ul>
            </li>
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Genres <span class="caret"></span></a>
              <ul class="dropdown-menu">
                <li><a href="#">Rechercher</a></li>
                <li role="separator" class="divider"></li>
                <li class="dropdown-header">Actions utilisateurs</li>
                <li><a href="#">Ajouter</a></li>
                <li><a href="#">Modifier</a></li>
                <li><a href="#">Supprimer</a></li>
              </ul>
            </li>
            <li>
              {% if current_user.is_authenticated %}
              <ul class="nav navbar-nav navbar-rigth.">
                  <li><a>{{current_user.username}}</a></li>
                  <li><a href="{{ url_for('logout') }}"> <span class="glyphicon glyphicon-log-out" title="Logout"></span></a></li>
              </ul>
                {% else %}
                  <a href="{{ url_for('login') }}">Se connecter</a>
                {% endif%}

            </li>
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </nav>

{% endblock %}


{% block content %}
<div class="container theme-showcase" role="main" id="main">
    {% block main %}{% endblock %}
</div>
{% endblock %}
