{%  extends "base.html" %}

{% block main %}

<article class="">
  <header>
      <h2>{{pagetitle}}</h2>

      <!-- <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit.
      </p> -->
  </header>
  <section>
    {% for genre in l_genres %}

      <h3><a href="">{{ genre.nom_genre }}</a></h3>

    {% endfor %}
  </section>
  <footer>
    <!-- <p>
      Maecenas a ante auctor, elementum justo vel, ullamcorper orci. Cras aliquam nec tortor ut placerat. Sed eu vehicula lorem.
    </p> -->
  </footer>
</article>

{% endblock %}
