{%  extends "base.html" %}

{% block main %}

<article class="">
  <header>
      <h2>Bienvenue sur FL45K-MU51C !</h2>

      <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit.
      </p>
  </header>
  <section>
    <h3>Donec imperdiet</h3>
    <p> Leo quis diam tempus, vitae scelerisque mi tincidunt. Donec tempus placerat purus non cursus. Mauris quis enim sed quam iaculis commodo. Pellentesque sed magna tortor. Nunc sodales viverra aliquam. Cras eget velit faucibus orci sollicitudin cursus et ut purus. Proin interdum convallis tellus at vulputate. Cras aliquet eu purus sollicitudin venenatis. Quisque aliquam orci quam, vel eleifend diam vestibulum sed. Aliquam erat volutpat. Mauris quis sollicitudin diam, quis condimentum lectus. Nunc lectus odio, vestibulum sed erat ultricies, elementum interdum est. Donec cursus at ex ut eleifend. Ut pharetra erat ligula, pharetra elementum elit laoreet quis. Cras sit amet tempor ligula.
    </p>
    <p>
      Fusce condimentum nibh volutpat nisl consequat aliquet a eu mauris. Nullam nec dictum sapien. Integer interdum purus vel lorem sollicitudin, eu egestas lorem ornare. Cras quis neque urna. Curabitur ut erat dignissim, porttitor leo pulvinar, sodales orci. Proin bibendum varius tincidunt. Ut ut dolor et sem sollicitudin cursus. Phasellus porttitor massa lorem, quis luctus magna tempus eget. Praesent et turpis vitae massa venenatis vestibulum. Maecenas aliquam libero ultricies libero dapibus iaculis. Morbi in nisl at augue vestibulum laoreet. Integer ex nulla, mattis non dapibus at, dictum sit amet leo. Maecenas id rhoncus risus. Aenean auctor, est nec dapibus euismod, ex tortor lobortis lorem, at fringilla lorem lorem eu ex.
    </p>
  </section>
  <footer>
    <p>
      Maecenas a ante auctor, elementum justo vel, ullamcorper orci. Cras aliquam nec tortor ut placerat. Sed eu vehicula lorem.
    </p>
  </footer>
</article>

{% endblock %}
