{% extends "base.html" %}

{% block main %}

<div class="col-lg-offset-2 col-lg-6 col-md-offset-2 col-md-8 contour">
  
<form class="form-horizontal" role="form" method="POST" action="{{ url_for('login') }}">
  {{ form.hidden_tag() }}

  <div class="form-group">
    <label for="username" class="col-lg-2 control-label col-md-2">
      {{ form.username.label }}
    </label>
    <div class="col-lg-10 col-md-10">
      {{form.username(size=30, class_="form-control",placeholder="Username")}}
    </div>
  </div>

  <div class="form-group">
    <label for="password" class="col-lg-2 control-label col-md-2">
      {{ form.password.label }}
    </label>
    <div class="col-lg-10 col-md-10">
      {{ form.password(size=30,class_="form-control",placeholder="Password") }}
    </div>
  </div>

  <div class="form-group">
    <div class="col-lg-offset-2 col-lg-10 col-md-offset-2 col-md-8">
      <button type="submit" class="btn btn-default"> Sign in </button>
    </div>
  </div>

</div>

  <p class="col-lg-offset-2 col-lg-9 col-md-offset-2 col-md-10 ">Vous n'avez pas encore de compte ? <a href="{{ url_for('create_account') }}">Inscrivez vous !</a></p>
</form>
{% endblock %}
